<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../../files/js/libs/normalize-css/normalize.css">
	<link rel="stylesheet" href="../css/styles.css">
	<title>Sample 2</title>
</head>
<body>
<div id="stage">
	<!-- header -->
	<header id="header">
		<h1>Fluid Grid</h1>
	</header>

	<!-- navigation menu -->
	<nav id="nav">
		<ul class="cf">
			<li>menu 1</li>
			<li>menu 2</li>
			<li>menu 3</li>
		</ul>
	</nav>

	<!-- main content -->
	<div id="contents" class="cf">
		<!-- content menu -->
		<aside class="contents_menu cf">
			<section id="contents_menu1">
				<h1>Contents Menu 1</h1>
			</section>
			<section id="contents_menu2">
				<h1>Contents Menu 2</h1>
			</section>
		</aside>

		<!-- main article -->
		<article class="main">
			<section id="body_link">
				<h1>2013.03.14</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, totam, officia, sint ex molestiae necessitatibus nam neque dolor cumque modi voluptatum at deserunt consectetur officiis iusto mollitia quod vitae! Reprehenderit?</p>
			</section>
			<section id="section_link">
				<h1>2013.02.25</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, itaque delectus quisquam molestiae assumenda. Ab, libero sapiente autem consequuntur. Assumenda, quam, totam dignissimos blanditiis perspiciatis aperiam at inventore voluptates eaque.</p>
			</section>
			<section id="article_link">
				<h1>2013.02.25</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, illo, excepturi ullam sed doloribus in omnis accusamus neque nulla facere modi adipisci hic consectetur veniam nemo molestiae molestias quia. Maiores!</p>
			</section>
			<section id="aside_link">
				<h1>2013.02.10</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, sint, nobis, nostrum laudantium aut repudiandae fuga ex repellat quibusdam fugit cum minima commodi corrupti similique recusandae consequatur totam officia perspiciatis?</p>
			</section>
			<section id="nav_link">
				<h1>2013.02.09</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, rem, soluta, quidem magni saepe mollitia dolore quibusdam blanditiis accusantium est inventore nisi ratione hic error totam eius maxime sint ducimus.</p>
			</section>
		</article>
	</div> <!-- main content -->

<!-- footer -->
<footer id="footer">
	<small>&copy; 2013 BaseTemplate. </small>
</footer>

</div> <!-- stage -->
</body>
</html>